<h3>Thank you!</h3>
<% if user_signed_in? %>
  <h3>You've signed up. Download a free book.</h3>
  <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
<% else %>
  <h3>Sign up and download a free book.</h3>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-large' %>
<% end %>
